<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Foto</td>
            <td>Nombre</td>
          </tr>
          <tr *ngFor="let usuario of usuarios" [routerLink]="['/usuarios']" class="pointer">
            <td>
              <img [src]="usuario.img | imagen" class="img-50 img-circle" alt="">
            </td>
            <td>
              {{usuario.nombre}}
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Foto</td>
            <td>Nombre</td>
          </tr>
          <tr *ngFor="let medico of medicos" [routerLink]="['/medico','medico._id']" class="pointer">
            <td>
              <img [src]="medico.img | imagen" class="img-50 img-circle" alt="">
            </td>
            <td>
              {{medico.nombre}}
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Foto</td>
            <td>Nombre</td>
          </tr>
          <tr *ngFor="let hospital of hospitales" [routerLink]="['/hospitales']" class="pointer">
            <td>
              <img [src]="hospital.img | imagen" class="img-50 img-circle" alt="">
            </td>
            <td>
              {{hospital.nombre}}
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>
